<% form_for [:admin, @image_rotator] do |f| -%>
  <%= render :partial => "/shared/admin/error_messages", :locals => {
    :object => @image_rotator,
    :include_object_name => true
  } %>
  
  <div class='field'>
    <%= f.label :title -%>
    <%= f.text_field :title -%>
  </div>
  
  <div class='field'>
    <%= f.label :height, 'Height of all images' -%>
    <%= f.text_field :height -%> (ex: 240px)
  </div>
  
  <div class='field'>
    <%= f.label :width, 'Width of all images' -%>
    <%= f.text_field :width -%> (ex: 725px)
  </div>
  
  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('admin.image_rotators.image_rotator.delete'),
                :delete_confirmation => t('shared.admin.delete.message')
              } %>
<% end -%>
